.App {
  margin: 1em;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Specs {
  width: 125px;
}

.SpecItem {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5em;
}

.SpecItem:first-of-type {
  margin-top: 0;
}

.Specs label {
  font-weight: bold;
}

.Specs .value {
  margin-left: 1em;
}

.Stage {
  display: flex;
}

.Work {
  flex: 1;
  background: beige;
}

.Home {
  background: lightblue;
  flex: 1;
}

.Action {
  display: block;
  margin-top: 0.5em;
}

.Action:first-of-type {
  margin-top: 0;
}

.Action span {
  margin-left: 0.5em;
  font-size: 0.8em;
}

.Energy {
  border: 1px solid black;
  position: relative;
  background: #000000ad;
}

.Energy .fill {
  height: 100%;
  background: #03a9f4;
  position: absolute;
  top: 0;
  left: 0;
}

.Energy label {
  margin: auto;
  display: block;
  width: fit-content;
  line-height: 2em;
  text-shadow: 0px 0px 2px black;
  color: #fff;
  z-index: 1;
  position: relative;
}

